header {
	width: 100%;
	position: absolute;
	top: 0px;
    margin-top: 90px;
}
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navigation {
    width: 366px;
    display: flex;
    justify-content: space-between;
    color: #FFF9ED;
    font-size: 22px;
    margin-left: 100px;
} 
.logo {
    color: #D99162;
    font-size: 30px;
}
li a {
    color:#FFF9ED ;
}
.button {
    border: none;
    width: 168px;
    height: 53px;
    color: #FFF9ED;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    background-color: #D99162;
  }
  /* first-section */
  .gray-container {
      width: 100%;
      height: 889px;
      background-color: #454141;
      padding-top: 25px;
  }
  .wraper-div {
     width: 1300px;
      height: 847px;
      border: oldlace 1px solid;
      margin: 0 auto;
  }
  .room-7 {
      max-width: 650px;
      width:100%;
      height: 535px;
  }
  .child-div {
    max-width: 1323px;
    width:100%;
    display: flex;
    align-items: center;
    margin-top: 215px;
  }
  .h1-div {
    margin-left: 50px
  }
  h1 {
      font-size: 78px;
      text-transform: uppercase;
      color: white;
  }
  /* second-section */

  .woman-container{
    width: 100%;
    height: 750px;
    background-color: #FFF9ED;
  }
  .woman-div {
    width: 1344px;
    height: 562px;
    margin-top: 112px;
    display: flex;
    justify-content: space-between;
  }
  .woman-img {
    width: 504px;
    height: 488px;
  }
  .woman-sc-div {
    width:672px ;
    height:562px ;
    margin-right: 78px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .woman-p {
      font-size: 32px;
      color: #454141;
      margin-bottom: 26px;
      line-height: 120%
  }
  .woman-a, .study-a {
      font-size: 20px;
      color: #454141;
  }
  
  .woman-scn-div {
    background-image : url(../img/Union.jpg); 
      width: 672px;
      height: 304px;

  }
  .woman-sc-p {
    width: 440px;
    font-size: 32px;
    color: white;
    margin: auto;
    margin-top: 65px;
    line-height: 142%;
  }
 .flex-end {
    display: flex;
    justify-content: flex-end;
    margin-top: 26px;
 }
  